force-app/main/default/flows/Sum_Completed_Units_Module_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>sum</name>
        <label>sum</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sumComplete</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>cUnits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Sum Completed Units Module History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sum Completed Units Module History</label>
    <loops>
        <name>Count</name>
        <label>Count</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>cUnits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateModuleHistory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CompletedUnits</name>
        <label>CompletedUnits</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Module_History__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Module_History__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Unit_History__c</object>
        <outputReference>cUnits</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateModuleHistory</name>
        <label>UpdateModuleHistory</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Module_History__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletedUnits__c</field>
            <value>
                <elementReference>sumComplete</elementReference>
            </value>
        </inputAssignments>
        <object>Module_History__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CompletedUnits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Unit_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit_History__c</objectType>
    </variables>
    <variables>
        <name>sumComplete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
